body{
			
    margin: 0px;
    font-family: sans-serif;
}
#background{
    position: fixed;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg,rgba(248, 19, 19, 0.85),rgba(46, 18, 205, 0.85));
}
#contenido{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.color-acento{ color: blueviolet; }

header{
    background-color: rgb(255, 255, 255);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
}   

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: blueviolet;
}
#tabla{
    display: block;
    text-align:left;
    font-size: 18px;
    color: white;
    margin-top: 50px;
    caption-side: bottom;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
th{
    background-color: gray;
}

td, th{
    border: 2px solid black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}


#form{
    width: 600px;
    height: 950px;
    background: linear-gradient(45deg,rgba(39, 38, 38, 0.5),rgba(167,0,255,0.085));
    box-shadow: 0px 0px 10px rgba(52,52,52,.35);
    backdrop-filter:blur(5px);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
    animation: fadeIn .5s  linear forwards;
    
}
#form .block{
    grid-column: 1 / 3;
}
#form h3{
    display: block;
    text-align:left;
    font-size: 25px;
    color: white;
    cursor: default;
    -webkit-user-select:none;
    animation: topIn .5s  linear forwards;
    
}
#form .text{
    width: calc(100% - 30px);
    min-height: 35px;
    margin-bottom: 20px;
    background: none;
    border: none;
    background: rgba(255, 255, 255, 0.11);
    outline: none;
    padding-left: 10px;
    color: white;
    font-size: 20px;
    animation: leftIn .5s linear forwards;
    animation-delay: calc(0.08s * var(--i));
    transform:translateX(-100%);
    opacity: 0;
    
}
#form .text2{
    width: calc(100% - 30px);
    min-height: 35px;
    margin-bottom: 20px;
    background: none;
    border: none;
    background: rgba(255, 255, 255, 0.11);
    outline: none;
    padding-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    animation: leftIn .5s linear forwards;
    animation-delay: calc(0.08s * var(--i));
    transform:translateX(-100%);
    opacity: 0;
    
}
#form .text3{
    display: flex;
    text-align: center;
    flex-direction: row;
    min-height: 50px;
    font-size: 18px;
    margin: auto;
    color: azure;
    animation: leftIn .5s linear forwards;
    animation-delay: calc(0.08s * var(--i));
    transform:translateX(-100%);
    opacity: 0;
}
#form label{
    display: block;
    text-align:left;
    font-size: 18px;
    color: white;
    cursor: default;
    -webkit-user-select:none;
    animation: topIn .5s  linear forwards;
    
}
#form .text::placeholder{
    color: rgba(255, 255, 255, 0.38);
}
#form .boton{
    min-height: 35px;
    min-width: 200px;
    background: blueviolet;
    border:1px solid white;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    -webkit-transition:all .5s ease;
    animation:rigIn .5s linear forwards;
    opacity: 0;
}
#form .boton:hover{
    background: rgba(93,56,219,0.53);
    -webkit-transition:all .5s ease;
}
#form a{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: bttmIn .6s linear forwards;
}
#creditos{
    margin-top: 20px;
    color: rgba(255,255,255,0.38);
    cursor: default;
    -webkit-user-select:none;
    animation: bttmIn .6s linear forwards;
}

@media (min-width: 720px){
    header{
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

}

/*Animaciones*/

@keyframes fadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/*Top*/
@keyframes topIn{
    
    0%{
        
        transform:translateY(-300%);
        opacity: 0;
    }
    100%{
        
        transform:translateY(0%);
        opacity: 1;
    }
}

/*left*/

@keyframes leftIn{
    
    0%{
        
        transform:translateX(-100%);
        opacity: 0;
    }
    100%{
        
        transform:translateY(0%);
        opacity: 1;
    }
}

@keyframes rigIn{
    
    0%{
        
        transform:translateX(200%);
        opacity: 0;
    }
    100%{
        
        transform:translateY(0%);
        opacity: 1;
    }
}

@keyframes bttmIn{
    
    0%{
        
        transform:translateY(300%);
        opacity: 0;
    }
    100%{
        
        transform:translateY(0%);
        opacity: 1;
    }
}